<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <title>User</title>
    </head>
 
    <body>
        <ul>
            <% messagesFound.forEach(message => {%>
                <p><%=message.user %></p>
                <li><%=message.text  %></li>
                <li><%=message.added  %></li>
        <% })  %>
        </ul>
        <a href="/new">
            <button>Create message</button>
        </a>
    </body>
</html>